{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "import-graphql",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@db": "./db",
          "@graphql": "./src/graphql",
          "@server": "./src/server",
          "@spec": "./spec"
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "sourceRoot": "./src"
}
